<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.StudentMapper">
    <select id="selectStudentById" parameterType="int" resultType="com.example.demo.bean.Student">
        SELECT id,name,age,sex,phone FROM t_student where id =#{value}
    </select>

    <insert id="insertStudent" parameterType="com.example.demo.bean.Student">
        INSERT INTO t_student(name,age,sex,phone) VALUES (#{name},#{age},#{sex},#{phone})
    </insert>
    
    <update id="updateStudentById" parameterType="com.example.demo.bean.Student">
        UPDATE t_student set name=#{name},age = #{age} ,sex=#{sex},phone=#{phone} WHERE id =#{id}
    </update>

    <delete id="deleteStudent" parameterType="int">
        DELETE FROM t_student WHERE id=#{id}
    </delete>

    <select id="selectStuByNameAndSex" resultType="com.example.demo.bean.Student">
        SELECT * FROM t_student WHERE name=#{name} and sex=#{sex}
    </select>

</mapper>